body {
    /*Either use the background pattern or just the color alone */
    min-height: calc(100vh - 70px);
    /*background: url("../images/what-the-hex.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    background-color: #3D345A;
    color: white;
    }
 

#lead {
    font-size: 6em;
    /* font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial; */
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    margin: auto;
    /*background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #EFEEF1;
    /*font-family: 'Playfair Display', serif;*/
    position: relative;
	text-transform: uppercase;	
	margin: 0;
	font-weight: 400;
}

#sub {
    font-size: 2em;
    /* font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial; */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 12px;
    margin: auto;
    /*background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #EFEEF1;
    /*font-family: 'Playfair Display', serif;*/
    position: relative;
	text-transform: uppercase;	
	margin: 0;
	
}

/*h1:after {
    background: none;
    content: attr(data-heading);
    left: 0;
	top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
		-1px 0 1px #c6bb9f, 
		0 1px 1px #c6bb9f, 
		5px 5px 10px rgba(0, 0, 0, 0.4),
		-5px -5px 10px rgba(0, 0, 0, 0.4);
}*/

#googleLogin {
  font-size: 16px;
  
}

#googleButton {
    margin-top: 10px;
}

img {
    max-width: 60%;
    height: auto;
    overflow:;
}

.table-0 {
    margin-top: 25px;
    border-radius: 12px;
    padding:10px 0px 10px 0px;
    padding: 15px;
    color: #8F8B81;
    background-color: lightgray;
}

.table-0 .row {
    margin-top: 25px;
    border-radius: 12px;
    padding:10px 20% 10px 20%;
    color: #8F8B81;
   
}

.table-1 {
    margin-top: 25px;
    border-radius: 12px;
    padding:10px 0px 10px 0px;
    padding: 15px;
    color: #8F8B81;
    background-color: lightgray;
}

.table-2 {
    margin-top: 25px;
    border-radius: 12px;
    padding:0px 0px 0px 0px;
    padding: 15px;
    color:#8F8B81;
    background-color: lightgray;
}

.table-3 {
    margin-top: 25px;
    border-radius: 12px;
    padding:0px 0px 0px 0px;
    padding: 15px;
    color: #8F8B81;
    background-color: lightgray;
}

.table-4 {
    margin-top: 25px;
    border-radius: 12px;
    padding:0px 0px 0px 0px;
    padding: 15px;
    color: #8F8B81;
    background-color: lightgray;
}

.table-5 {
    margin-top: 25px;
    border-radius: 12px;
    padding:0px 0px 0px 0px;
    padding: 15px;
    color: white;
}

footer {
    background: #666666;
    color: #fff;
    padding: 10px;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    width: 100%; 
    position: fixed;
    bottom: 0px;
    height: 50px;   
}  

label {
    font-weight: bolder;
    background-color: #8F8B81;
    border-radius: 5px;
    padding: 5px;
    color:white;
}

#job-1 {
    font-weight: bolder;
    padding: 5px;
}

#h1 {
    font-weight: bolder;
    background-color: #9E8FAC;
    border-radius: 5px;
    padding: 5px; 
    color: white;
    font-family: 'Roboto', sans-serif;
}

.favorite {
    font-size: 60px;
    color: red;
    margin-top: 50px;
    margin-bottom: 50px;
}  

.applied {
    font-size: 60px;
    color: yellow;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    color: white;
}

h4 {
    font-size: 300%;
    font-weight: 100;
    text-align: center;
    font-family: 'Roboto', sans-serif;  
}

.nav-link {
background-color: #9E8FAC;
border-radius: 10px;
margin: 5px;
}


.modal-body {
    color: black;
} 

nav {
    background-color: lightgray;
    border-radius: 10px;
}

.btn {
    color: white;
}

.nav-wrapper {
    background-color: #809D87;
    border-radius: 10px;
}

.container {
    /* background-color: #EFEEF1;  */
    clear: both;
}

footer {
    z-index: 1000;
}

.nav-wrapper a {
    background-color: #EFEEF1; 
    color: #8F8B81;
}

.nav-wrapper {
    background-color: #EFEEF1;
    border-radius: 0px;
}

.input-field label {
    display: block;
    color: #EFEEF1;
    background-color: #3D345A;
}

.input-field {
    display: inline-block;
}

div.modal-content {
    color: black
}

td {
    overflow: hidden;
    max-width: 25ch;
    vertical-align: text-top;
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}

table { 
    table-layout: fixed;
    width: 100%
  }

  p {
    
    max-width: 25ch;
    overflow: hidden;
  }

/* Portrait and Landscape */
/* @media only screen and (max-width: 720px) {
    .container {
        width: 100%;
        margin: 20px 12px 20px 12px;
        padding: 10px;
    }
   */
   
    h1 {
        font-family: 100%;
    }

    h4 {
        font-family: 200%; 
    }

      

}

