body {
    /*Either use the background pattern or just the color alone */
    min-height: calc(100vh - 70px);
    /*background: url("../images/what-the-hex.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    background-color: #3D345A;
    color: white;
    }
 

#lead {
    font-size: 90px;
    /* font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial; */
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    margin: auto;
    /*background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #EFEEF1;
    /*font-family: 'Playfair Display', serif;*/
    position: relative;
	text-transform: uppercase;	
	margin: 0;
	font-weight: 400;
}

#sub {
    font-size: 90px;
    /* font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial; */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 12px;
    margin: auto;
    /*background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #EFEEF1;
    /*font-family: 'Playfair Display', serif;*/
    position: relative;
	text-transform: uppercase;	
	margin: 0;
	
}

/*h1:after {
    background: none;
    content: attr(data-heading);
    left: 0;
	top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
		-1px 0 1px #c6bb9f, 
		0 1px 1px #c6bb9f, 
		5px 5px 10px rgba(0, 0, 0, 0.4),
		-5px -5px 10px rgba(0, 0, 0, 0.4);
}*/

#googleLogin {
  font-size: 16px;
  
}

#googleButton {
    margin-top: 10px;
}



.table-1 {
    margin-top: 25px;
    border-radius: 12px;
    padding:10px 0px 10px 0px;
    padding: 15px;
    color: #8F8B81;
    background-color: lightgray;
}

.table-2 {
    margin-top: 25px;
    border-radius: 12px;
    padding:0px 0px 0px 0px;
    padding: 15px;
    color:#8F8B81;
    background-color: lightgray;
}

.table-3 {
    margin-top: 25px;
    border-radius: 12px;
    padding:0px 0px 0px 0px;
    padding: 15px;
    color: #8F8B81;
    background-color: lightgray;
}

.table-4 {
    margin-top: 25px;
    border-radius: 12px;
    padding:0px 0px 0px 0px;
    padding: 15px;
    color: #8F8B81;
    background-color: lightgray;
}

.table-5 {
    margin-top: 25px;
    border-radius: 12px;
    padding:0px 0px 0px 0px;
    padding: 15px;
    color: white;
}

footer {
    background: #666666;
    color: #fff;
    padding: 10px;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    width: 100%; 
    position: fixed;
    bottom: 0px;
    height: 50px;   
}  

label {
    font-weight: bolder;
    background-color: #8F8B81;
    border-radius: 5px;
    padding: 5px;
    color:white;
}

#job-1 {
    font-weight: bolder;
    padding: 5px;
}

#h1 {
    font-weight: bolder;
    background-color: #9E8FAC;
    border-radius: 5px;
    padding: 5px; 
    color: white;
    font-family: 'Roboto', sans-serif;
}

td {
    overflow: auto;
    text-overflow: ellipsis;
    max-height: 1em;
}

td:hover {
    overflow: visible;
  }

.favorite {
    font-size: 60px;
    color: red;
    margin-top: 50px;
    margin-bottom: 50px;
}  

.applied {
    font-size: 60px;
    color: yellow;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    color: white;
}

.nav-link {
background-color: #9E8FAC;
border-radius: 10px;
margin: 5px;
}


nav {
    background-color: lightgray;
    border-radius: 10px;
}

.btn {
    color: white;
}

.nav-wrapper {
    background-color: #809D87;
    border-radius: 10px;
}

.container {
    background-color: #EFEEF1; 
}

footer {
    z-index: 1000;
}

/* MODAL */
.dynamic-modal {
    position: fixed;
    width: 400px;
    min-height: 200px;
    background: grey;
    border: 1px solid black;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}